<!DOCTYPE html>
<html>

<head>
  <%- include('layout/head') %>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body id="body">

  <header id="header">
    <%- include('layout/header') %>
  </header>

  <main id="main">
    <form action="/result" method="post" id="search-form">
      <fieldset class="fieldset">
        <label>If I invested <input name="search" type="number" min="0.01" step="0.01" max="100,000"
            placeholder="1000.00" /></label>
        <label>in<input name="search" type="text" placeholder="a public company" /></label>
        <label>on <input name="search" type="month" placeholder="month year" onClick="$(this).removeClass('placeholderclass')" class="dateclass placeholderclass">…</label>
      </fieldset>
      <!-- <p></p> -->
      <label class="submit-button-label">
        How much richer would I be?<button type="submit">Find Out!</button>
      </label>
      
    </form>
  </main>
  <footer id="footer">
    <%- include('layout/footer') %>
  </footer>
</body>

</html>