<!DOCTYPE html>
<html>

<head>
  <%- include('layout/head') %>
  <script src="https://ajax.  .com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
</head>

<body>

  <header>
    <%- include('layout/header') %>
  </header>

  <main>
    <form action="/result" method="post">
      <fieldset>
        <label>If I invested <input name="search" type="number" min="0.01" step="0.01" max="100,000"
            value="1.23" /></label>
        <label>In the Company <input name="search" type="text" placeholder="AAA" /></label>
        <label>On <input name="search" type="month" placeholder="month year" onClick="$(this).removeClass('placeholderclass')" class="dateclass placeholderclass"></label>
      </fieldset>
      <p>How much richer would I be?</p>
      <button type="submit">Find Out!</button>
    </form>
  </main>
  <footer>
    <%- include('layout/footer') %>
  </footer>
</body>

</html>