<!-- error.ejs -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body>

  <header>
    <%- include('../layout/header') %>
  </header>

  <main>
    <p>Regrettably, There was an error.</p>
    <img src="https://upload.wikimedia.org/wikipedia/commons/b/b0/Pending_Changes_Cat.jpg" alt="cat from https://commons.wikimedia.org/wiki/File:Pending_Changes_Cat.jpg" />
  </main>

  <footer>
    <%- include('../layout/footer') %>
  </footer>

</body>

</html>