<!DOCTYPE html>
<html>
  <%- include layout/head.ejs %>
  <body>
    <%- include layout/header.ejs %>
    <main>
      <p>Regrettably, There was an error.</p>
    </main>
    <%- include layout/footer.ejs %>
  </body>
</html>