<!-- portfolio.ejs -->
<!DOCTYPE html>
<html>

<head>
  <%- include('../layout/head') %>
</head>

<body id="body">

  <header id="header">
    <%- include('../layout/header') %>
  </header>

  <main id="main">
    <p>You have No regrets</p>
  </main>

  <footer id="footer">
    <%- include('../layout/footer') %>
  </footer>

</body>

</html>