* {
    box-sizing: border-box;
}

html {
    height: 100%;
}

/*
Responsive typography: 
https://css-tricks.com/fun-viewport-units/
*/

body, input {
    /* Minimum 16x, and grows more slowly  */
    /* (half the rate of screen growth) */
    font-size: calc(16px + 0.5vw);
    /* Line-height based on font-size, */
    /* with addition viewport-relative growth */
    line-height: calc(1.5em + 0.5vw);
    margin: .5em;
}

body {
    background-color: hsl(44, 79%, 96%);
    font-family: monospace;
    min-height: 600px;
}

header {
    background-color: hsl(44, 79%, 86%);
    border-radius: 0px 0px 20px 20px;

}

h1 {
    /* Grows more quickly,  */
    /* allowing for wider variation on larger screens */
    font-size: calc(18px + 1.7vw);
    font-family: 'Nanum Gothic Coding', monospace;
}

h2 {
    text-align: center;
    font-weight: bolder;
    font-family: 'Nanum Gothic Coding', monospace;
}

span {
    padding: .1em .3em;
    color: hsl(54, 100%, 75%);
    background-color: hsla(266, 69%, 40%, 0.5);
    white-space: nowrap;
    /* line-height: 1.9em; */
    border-radius: 1em;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

label em {
    color: hsla(266, 69%, 40%, 0.5);
}

fieldset {
    border-radius: 10px;
    background-color: hsl(266, 69%, 95%);
}

input {
    border: 2px dashed hsl(266, 69%, 85%);
    background-color: white;
    border-radius: 3px;
    font-family: sans-serif;
}

button {
    font-size: calc(20px + 1.1vw);
    line-height: 1;
    font-family: 'Nanum Gothic Coding', monospace;
    color: white;
    background-color: hsl(14, 98%, 22%);
    border: solid 3px hsl(14, 98%, 22%);
    border-radius: 5px; 
}

footer {
    color: white;
    background-color: hsl(44, 39%, 46%);
    border-radius: 20px 20px 0 0;
    font-family: sans-serif;
    font-style: italic;
    font-size: calc(12px + 0.5vw);
    font-family: 'Nanum Gothic Coding', monospace;
}

/*
a {
    text-decoration: none;
}
*/