#body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: space-between;
    min-height: 500px;
    max-width: 1020px;
    margin: 0px auto;
}

/* ------------------------------ */
/* header & footer */
/* ------------------------------ */

#header, #footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    max-height: 100px;
}

#header>*, #footer>* {
    justify-content: center;
    text-align: center;
    height: 100%;
}

.header-text, .footer-text {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
}

#header a, #footer a {
    width: 15%;
    height: 80%;
}

#header img, #footer img {
    height: 100%;
    width: 100%;
}

/* ------------------------------ */
/* general flexbox layout */
/* ------------------------------ */

#main, #search-form, #result-text-section, #chart-section, #result-actions-section, .fieldset, label {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#main {
    justify-content: center;
}

/* ------------------------------ */
/* index.ejs specific */
/* ------------------------------ */

#search-form {
    justify-content: space-evenly;
    height: 100%;
}

.fieldset input {
    text-align: center;
}

/* ------------------------------ */
/* result.ejs specific */
/* ------------------------------ */

#chart-section {
    color: hsl(266, 69%, 40%);
    background-color: hsl(266, 69%, 95%);
    border-radius: 10px;
    /* border: 2px inset hsl(44, 79%, 96%); */
}

#chart-title {
    text-align: center;
    font-size: calc(13px + 0.5vw);
    /* Line-height based on font-size, */
    /* with addition viewport-relative growth */
    line-height: calc(1.1em + 0.5vw);
    margin: .5em;
    border-bottom: 1px solid #BAA1E8;

}

#chart {
    max-width: 100%;
    max-height: 100%;

}

#result-text-section {
    text-align: center;
    max-width: 80%;
}



/* ------------------------------ */
/* portfolio.ejs specific */
/* ------------------------------ *

/* div h2 {
    margin-bottom: 3vh;
} */


/* @media screen and (min-width: 733px){
    body {
        padding: 0;
    }
    header {
        position: sticky;
        left: -1%;
        border-radius: 0px 0px 20px 0px;
        margin-bottom: 2vh;
        width: 50%;
    }
    header h1 {
        order: -1;
    }
    main section {
        font-size: 125%;
        width: 43vw;
        height: 50vh;
        padding-bottom: 5vh;
        float: left;
    }
    main div {
        width: 50vw;
        height: 50vh;
        display: inline-block;
    }
    main div+button {
        position: absolute;
        top: -1vh;
        right: -1%;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 170%;
        padding: 2vh;
        border-radius: 0px 0px 0px 20px;
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    
} */