html {
    height: 100%;
}

#body {
    height: 100%;
    display: flex;
    flex-flow: column nowrap;
    min-height: 500px;
    justify-content: space-between;

}

#header, #footer {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    height: 8%;
    /* min-height: 100px; */
    font-size: 3vw;
}

#header>*, #footer>* {
    justify-content: center;
    text-align: center;
    height: 100%;
}

.header-text, .footer-text {
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
}

#header a, #footer a {
    width: 15%;
    height: 80%;
}

#header img, #footer img {
    height: 100%;
    width: 100%;
}

#main, #search-form, .fieldset, label {
    display: flex;
    flex-flow: column;
    align-items: center;
}

#main {
    /* height: 80%; */
    /* min-height: 800px; */
    justify-content: center;
}

#search-form {
    justify-content: space-evenly;
    height: 100%;
}

.fieldset input {
    text-align: center;
}

.fieldset, .submit-button-label {
    /* border: 5px dashed magenta; */
}

#header {
    /* margin-bottom: 1vh; */
    /* padding: 2vh; */
}

.fieldset {
    /* height: 60vh; */
    /* padding: 2vh 2vw; */
    /* display: flex; */
    /* flex-flow: column, nowrap; */
    /* align-items: center; */
}

/* div {
    border: 2px inset hsl(44, 79%, 96%);
    border-radius: 10px;
    background-color: hsl(266, 69%, 95%);
    color: hsl(266, 69%, 40%);
    padding: 3vh 5vw 0;
    margin-bottom: 1vh;
} */

/* div h2 {
    margin-bottom: 3vh;
} */

#footer {
    /* position: fixed; */
    /* width: 100%; */
    /* bottom: 0px; */
    /* padding: 2vh 2vw; */
}

/* #footer a:first-of-type {
    float: left;
    border: 0px;
}
#footer a img {
    filter: invert(1);
    text-decoration: none;
}
#footer img {
    filter: invert(1);
    float: right;
} */

/* @media screen and (min-width: 733px){
    body {
        padding: 0;
    }
    header {
        position: sticky;
        left: -1%;
        border-radius: 0px 0px 20px 0px;
        margin-bottom: 2vh;
        width: 50%;
    }
    header h1 {
        order: -1;
    }
    main section {
        font-size: 125%;
        width: 43vw;
        height: 50vh;
        padding-bottom: 5vh;
        float: left;
    }
    main div {
        width: 50vw;
        height: 50vh;
        display: inline-block;
    }
    main div+button {
        position: absolute;
        top: -1vh;
        right: -1%;
        font-family: 'Nanum Gothic Coding', monospace;
        font-size: 170%;
        padding: 2vh;
        border-radius: 0px 0px 0px 20px;
        width: 50%;
    }
}

@media screen and (min-width: 960px) {
    
} */