header h1 {
    font-family: 'Nanum Gothic Coding', monospace;
    font-size: 200%;
}

img {
    height: 5vh;
}
fieldset{
    font-family: monospace;
    font-size: 3vh;
    border: 3px inset hsl(44, 79%, 96%);
    border-radius: 10px;
    background-color: hsl(0, 0%, 87%);
    margin-bottom: 2vh;
    line-height: 2em;
}
input{
    display: block;
    width: 100%;
    font-size: 5vh;
    border: 2px dashed hsl(44, 79%, 86%);
    background-color: white;
    border-radius: 3px;
    padding: 1px 2px;
    margin-bottom: 2vh;
}
form > p{
    display: block;
    font-size: 2.5vh;
    text-align: center;
}
form > button {
    display: block;
    margin: 3vh auto;
    padding: 3vh 10vw;
    font-size: 2.5vh;
    font-family: 'Nanum Gothic Coding', monospace;
    font-weight: bold;
    border: solid 3px hsl(14, 98%, 22%);
    border-radius: 5px; 
    background-color: hsl(14, 98%, 22%);
    color: white;
}
form > button:hover{
    background-color:hsl(217, 96%, 64%);
    border: inset 2px hsl(217, 96%, 64%);
}
footer a {
    color: white;
    font-size: 2vh;
    font-family: 'Nanum Gothic Coding', monospace;
    line-height: 5vh;
}