<!-- footer.ejs -->
<p>Powered by: Alpha Vantage API</p>
<img src="https://image.flaticon.com/icons/svg/15/15659.svg" alt="About Us free icon by Freepik @ Flaticon.com"/>
<a href="/about">Learn about the Creators of HindSite!</a>