<!-- footer.ejs -->
<p>Powered by: Alpha Vantage API</p>
<a href="/about"><img src="https://image.flaticon.com/icons/svg/15/15659.svg" alt="About Us free icon by Freepik @ Flaticon.com"/></a>
<a href="/about">Learn about the Creators of HindSite!</a>
<img src ="https://image.flaticon.com/icons/svg/67/67745.svg" alt="Palette free icon by Freepik @ Flaticon.com"/>