<!-- footer.ejs -->
<a href="/about"><img src="../styles/icons/group-icon.svg" alt="Palette free icon by Freepik @ Flaticon.com" alt="About Us free icon by Freepik @ Flaticon.com" /></a>

<section class="footer-text">
  <p>Powered by: Alpha Vantage API</p>

  <!-- <p>Learn about the Creators of HindSite!</p> -->
</section>

<a href="#"><img src="../styles/icons/color-icon.svg" alt="Palette free icon by Freepik @ Flaticon.com" hidden/></a>