<!-- header.ejs -->
<img src="https://image.flaticon.com/icons/svg/90/90432.svg" alt="Analytic free icon by Freepik @ Flaticon.com" height="100"/>
<h1>HindSiteTrader.com</h1>
<img src="https://image.flaticon.com/icons/svg/1063/1063376.svg" alt="Portfolio free icon by Freepik @ Flaticon.com" height="100"/>
