<!-- header.ejs -->
<a href="/">
  <img src="../styles/icons/search-icon.svg" title="Search" alt="Analytic free icon by Freepik @ Flaticon.com/">
</a>

<section class="header-text">
    <h1>HindSite Trader</h1>
</section>

<a href="/portfolio">
  <img src="../styles/icons/portfolio-icon.svg" title="Your portfolio" alt="Portfolio free icon by Freepik @ Flaticon.com/">
</a>
