<!-- header.ejs -->
<a href="/"><img src="https://image.flaticon.com/icons/svg/90/90432.svg" alt="Analytic free icon by Freepik @ Flaticon.com/"></a>
<h1>HindSite Trader</h1>
<a href="/portfolio"><img src="https://image.flaticon.com/icons/svg/1063/1063376.svg" alt="Portfolio free icon by Freepik @ Flaticon.com/"></a>
